*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Ananda;
    src: url(fonts/AnandaBlack.ttf);
}
@font-face{
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
body {
    width: 100%;
    height: 100vh;
}
.no-scroll{
    overflow: hidden;
}
.can-scroll{
    overflow: visible;
}
nav{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.menu-icon{
    margin-left: 25px;
}
.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px; /* Adjusted height for smaller size */
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4px; 
  background: red;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
  background: red;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px; 
  left: 4px; 
  background: red;
}
.logo h1{
    font-family: Ananda;
}
.signup-btn{
    font-size: 22px;
    font-family: Poppins-Regular, Arial, sans-serif;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 6px 18px;
    border-radius: 30px;
    margin-right: 20px;
}
.sidenav{
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 100px;
    left: -100vw;
    z-index: 20;
    transition: left 0.1s ease-in, opacity 0.2s ease-in-out;
    border-top: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    padding: 15px 0;
}
.sidenav-opened{
    left: 0;
    opacity: 1;
}
.sidenav-closed{
    left: -100vw;
    opacity: 0;
}
.menu-item{
    width: 100%;
    height: ;
    padding: 10px;
}
.menu-item:hover{
    background: #1b1b1b;
}
.menu-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item p{
    font-size: 25px;
    box-sizing: border-box;
    padding: 0 25px;
    font-family: Poppins-Regular;
}
.menu-item i{
    margin-right: 30px;
    font-size: 1.5rem;
    transition: transform 0.6s ease;
}
.rotate-icon{
    transform: rotateX(180deg);
}
.treeview{
    width: 100%;
    max-height: 0;
    padding-top: 20px;
    background: #;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.open-treeview{
    width: 100%;
    max-height: 800px;
    transition: max-height 0.4s ease-in;    
}
.treeview p{ 
    box-sizing: border-box;
    padding: 0 55px 10px 55px;
}
main{
    width: 100vw;
    height: 1200px;
}
